
*{
  margin:0;
  padding: 0;
}
body{
  height:100vh;
  width:100%;
  display: flex;
  place-items:center;
  margin: auto;
  justify-content: center;
  background-color: #403a3a;
}

main{
  display: grid;
  grid-template-areas: 
  'a a a b b'
  'c c d d d';
  width: 700px;
  height: 500px;
  gap: 10px;
}
.a{
  background-color: red;
  grid-area: a;
}

.b{
  background-color: orange;
  grid-area: b;
}
.c{
  background-color: green;
  grid-area: c;
}
.d{
  grid-area: d;
  display: grid;
  gap: 10px;
  grid-template-areas: 
  'd1'
  'd2';
  
}
.d1{
  grid-area: d1;
  background-color: blue;
}
.d2{
  grid-area: d2;
  background-color: blue;
}